/* ==========================================
   GLOBAL STYLES & SLEEK FLOATING DARK SCROLLBARS
========================================== */

/* Webkit Scrollbars (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #1c2840;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #38bdf8;
}

/* Firefox Scrollbars */
* {
    scrollbar-width: thin;
    scrollbar-color: #1c2840 transparent;
}
